#jiuji-list .content {
  width: 1200px;
  margin: auto;
}

#jiuji-list #top-bar {
  position: relative;
  z-index: 30;
}

#jiuji-list #tool-bar {
  position: fixed;
  top: 0;
  z-index: 60;
}

#jiuji-list #header {
  border-bottom: 2px solid #f21c1c;
  position: relative;
  z-index: 20;
}

#jiuji-list #header .content {
  display: flex;
  position: relative;
}

#jiuji-list #header .content #menu {
  position: absolute;
  bottom: -479px;
  left: 0;
  background: #db1424;
  display: none;
}

#jiuji-list #header .content #menu .hidebox-menu {
  box-shadow: 1px 1px 5px #ccc;
}

#jiuji-list #list-main .content .record {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}

#jiuji-list #list-main .content .record img {
  margin-right: 5px;
}

#jiuji-list #list-main .content .record a {
  color: #333333;
  font-size: 12px;
}

#jiuji-list #list-main .content .record a:hover {
  color: #f21c1c;
}

#jiuji-list #list-main .content .record span {
  color: #9c9c9c;
  font-size: 12px;
}

#jiuji-list #list-main .content .record span:nth-of-type(1) {
  margin: 0 8px;
}

#jiuji-list #list-main .content .record span:nth-of-type(2) {
  margin: 0 8px;
}

#jiuji-list #list-main .content .centerpart {
  display: flex;
  justify-content: space-between;
}

#jiuji-list #list-main .content .centerpart .part-left {
  width: 220px;
}

#jiuji-list #list-main .content .centerpart .part-left .cate-tree {
  margin-bottom: 10px;
}

#jiuji-list #list-main .content .centerpart .part-left .cate-tree ul {
  border: 1px solid #dfdfdf;
}

#jiuji-list #list-main .content .centerpart .part-left .cate-tree ul li {
  height: 35px;
  background-color: #f3f3f3;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid #dfdfdf;
}

#jiuji-list #list-main .content .centerpart .part-left .cate-tree ul li:nth-child(1) {
  padding: 0 10px;
  font-size: 14px;
}

#jiuji-list #list-main .content .centerpart .part-left .cate-tree ul li:nth-child(2) {
  padding: 0 20px;
  font-size: 12px;
  cursor: pointer;
  color: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-left .cate-tree ul li:nth-child(3) {
  padding: 0 20px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
}

#jiuji-list #list-main .content .centerpart .part-left .cate-tree ul li:nth-child(3) span:hover {
  color: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-left .cate-tree ul li:nth-child(3) .treeslide {
  width: 16px;
  height: 16px;
  border: 1px solid #666;
  text-align: center;
  line-height: 13px;
  box-sizing: border-box;
}

#jiuji-list #list-main .content .centerpart .part-left .cate-tree ul li:nth-child(3) .treeslide:hover {
  color: #f21c1c;
  border-color: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-left .cate-tree ul .hidebox-tree {
  display: none;
}

#jiuji-list #list-main .content .centerpart .part-left .cate-tree ul .hidebox-tree a {
  display: block;
  color: #999;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  padding-left: 40px;
}

#jiuji-list #list-main .content .centerpart .part-left .cate-tree ul .hidebox-tree a:nth-child(-n+3) {
  padding-left: 30px;
}

#jiuji-list #list-main .content .centerpart .part-left .cate-tree ul .hidebox-tree a:nth-child(8), #jiuji-list #list-main .content .centerpart .part-left .cate-tree ul .hidebox-tree a:nth-child(9), #jiuji-list #list-main .content .centerpart .part-left .cate-tree ul .hidebox-tree a:nth-child(14), #jiuji-list #list-main .content .centerpart .part-left .cate-tree ul .hidebox-tree a:nth-child(15) {
  padding-left: 30px;
}

#jiuji-list #list-main .content .centerpart .part-left .guess {
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  margin-bottom: 10px;
}

#jiuji-list #list-main .content .centerpart .part-left .guess .guess-title {
  height: 35px;
  padding: 0 10px;
  background-color: #f3f3f3;
  font-size: 14px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.85);
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

#jiuji-list #list-main .content .centerpart .part-left .guess1 .guess-list:hover .guess-right p, #jiuji-list #list-main .content .centerpart .part-left .guess2 .guess-list:hover .guess-right p {
  color: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-left .guess1 .guess-list, #jiuji-list #list-main .content .centerpart .part-left .guess2 .guess-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #dfdfdf;
}

#jiuji-list #list-main .content .centerpart .part-left .guess1 .guess-list .guess-right, #jiuji-list #list-main .content .centerpart .part-left .guess2 .guess-list .guess-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  width: 118px;
}

#jiuji-list #list-main .content .centerpart .part-left .guess1 .guess-list .guess-right p, #jiuji-list #list-main .content .centerpart .part-left .guess2 .guess-list .guess-right p {
  width: 100%;
  font-size: 12px;
  color: #333;
}

#jiuji-list #list-main .content .centerpart .part-left .guess1 .guess-list .guess-right h4, #jiuji-list #list-main .content .centerpart .part-left .guess2 .guess-list .guess-right h4 {
  font-size: 14px;
  color: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-left .guess3 ul {
  border-bottom: 1px solid #dfdfdf;
}

#jiuji-list #list-main .content .centerpart .part-left .guess3 ul li:hover p {
  color: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-left .guess3 ul li {
  cursor: pointer;
  padding: 10px;
}

#jiuji-list #list-main .content .centerpart .part-left .guess3 ul li img {
  display: block;
  margin: auto;
}

#jiuji-list #list-main .content .centerpart .part-left .guess3 ul li h3 {
  text-align: center;
  font-size: 14px;
  color: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-left .guess3 ul li p {
  text-align: center;
  font-size: 12px;
  color: #333;
  height: 36px;
}

#jiuji-list #list-main .content .centerpart .part-right .screening {
  width: 960px;
  margin-bottom: 15px;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-title {
  width: 100%;
  height: 35px;
  border: 1px solid #dfdfdf;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-title span:nth-child(1) {
  font-size: 16px;
  line-height: 35px;
  color: #f21c1c;
  font-weight: bold;
  margin: 0 10px;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-title span:nth-child(2) {
  font-size: 12px;
  color: #9c9c9c;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box {
  border: 1px solid #dfdfdf;
  border-top: none;
  padding: 14px 20px;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box > dl:nth-child(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box > dl:nth-child(1) dt {
  width: 80px;
  font-size: 12px;
  color: #9c9c9c;
  line-height: 40px;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box > dl:nth-child(1) dd:nth-child(2) {
  width: 735px;
  border-left: 1px solid #dfdfdf;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box > dl:nth-child(1) dd:nth-child(2) img {
  width: 105px;
  height: 45px;
  cursor: pointer;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  box-sizing: border-box;
  float: left;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box > dl:nth-child(1) dd:nth-child(2) img:nth-child(-n+7) {
  border-top: 1px solid #dfdfdf;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box > dl:nth-child(1) dd:nth-child(3) {
  margin-left: 10px;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box > dl:nth-child(1) dd:nth-child(3) a {
  display: block;
  width: 64px;
  height: 24px;
  color: #f21c1c;
  font-size: 12px;
  line-height: 24px;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box dl:nth-child(n+2) {
  display: flex;
  align-items: center;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box dl:nth-child(n+2) dt {
  height: 40px;
  width: 80px;
  font-size: 12px;
  line-height: 40px;
  color: #9c9c9c;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box dl:nth-child(n+2) dd {
  border-top: 1px dashed #dfdfdf;
  height: 39px;
  display: flex;
  align-items: center;
  width: 858px;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box dl:nth-child(n+2) dd a {
  display: block;
  height: 24px;
  font-size: 12px;
  margin: 0 3px;
  padding: 0 5px;
  line-height: 24px;
  color: #333;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box dl:nth-child(n+2) dd a:nth-child(n+2):hover {
  color: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box dl:nth-child(n+2) dd a:nth-child(1) {
  background-color: #f21c1c;
  color: #fff;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box .hidemore {
  display: none;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box .hidemore dl:nth-child(2) dd {
  height: auto;
  display: block;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box .hidemore dl:nth-child(2) dd a {
  float: left;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box .hidemore dl {
  display: flex;
  align-items: center;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box .hidemore dl dt {
  height: 40px;
  width: 80px;
  font-size: 12px;
  line-height: 40px;
  color: #9c9c9c;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box .hidemore dl dd {
  border-top: 1px dashed #dfdfdf;
  height: 39px;
  display: flex;
  align-items: center;
  width: 858px;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box .hidemore dl dd a {
  display: block;
  height: 24px;
  font-size: 12px;
  margin: 0 3px;
  padding: 0 5px;
  line-height: 24px;
  color: #333;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box .hidemore dl dd a:nth-child(n+2):hover {
  color: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screening-box .hidemore dl dd a:nth-child(1) {
  background-color: #f21c1c;
  color: #fff;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screenmore {
  width: 120px;
  height: 30px;
  margin: auto;
  text-align: center;
  line-height: 30px;
  color: #f21c1c;
  cursor: pointer;
  position: relative;
  border: 1px solid #dfdfdf;
  border-top: none;
  border-radius: 0 0 7px 7px;
  font-size: 15px;
}

#jiuji-list #list-main .content .centerpart .part-right .screening .screenmore::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: -1px;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con {
  width: 960px;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t {
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  height: 40px;
  border: 1px solid #dfdfdf;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t .span1 {
  display: flex;
  align-items: center;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t .span1 a:nth-child(1) {
  display: block;
  height: 20px;
  font-size: 12px;
  color: #f21c1c;
  line-height: 20px;
  padding: 0 20px;
  border-right: 1px solid #dfdfdf;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t .span1 a:nth-child(3) {
  display: block;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  padding: 0 20px;
  border-right: 1px solid #dfdfdf;
  color: #333;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t .span1 .price {
  display: flex;
  align-items: center;
  height: 20px;
  border-right: 1px solid #dfdfdf;
  background-color: #f3f3f3;
  font-size: 12px;
  line-height: 20px;
  padding: 0 20px;
  color: #333;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t .span1 .price .priceimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t .span1 .price .priceimg img:nth-child(1) {
  transform: rotate(180deg);
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t .span1 a:hover {
  color: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t .span2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t .span2 h5 {
  font-size: 12px;
  margin-left: 5px;
  height: 18px;
  line-height: 18px;
  color: #333;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t .span3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t .span3 p {
  font-size: 12px;
  color: #333;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t .span3 input {
  width: 50px;
  height: 25px;
  border: 1px solid #ccc;
  margin: 0 2px;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t .span3 input:nth-of-type(3) {
  background-color: #f9f9f9;
  width: 52px;
  height: 27px;
  cursor: pointer;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .btnbox_t .span4 {
  font-size: 12px;
  color: #333;
  line-height: 40px;
  margin-right: 20px;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .list li {
  float: left;
  width: 200px;
  height: 378px;
  margin-right: 22px;
  border: 3px solid #fff;
  margin: 7px;
  padding: 10px;
  position: relative;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .list li .photo {
  margin-bottom: 5px;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .list li .photo .p-t {
  margin-bottom: 5px;
  cursor: pointer;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .list li .photo .p-t img {
  width: 200px;
  height: 200px;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .list li .photo .p-b {
  cursor: pointer;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .list li .photo .p-b img {
  width: 34px;
  height: 34px;
  border: 1px solid #fff;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .list li .photo .p-b img:hover {
  border-color: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .list li .box1 {
  margin-bottom: 5px;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .list li .box1 p {
  font-size: 12px;
  color: #333;
  cursor: pointer;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .list li .box1 p:hover {
  color: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .list li .box2 strong {
  height: 21px;
  line-height: 21px;
  font-size: 14px;
  color: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .list li .box2 h6 {
  font-size: 12px;
  color: #9c9c9c;
  height: 18px;
  line-height: 18px;
  margin-top: 5px;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .list li:hover {
  border-color: #dfdfdf;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .pages {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .pages a {
  display: block;
  width: 22px;
  height: 28px;
  background: #f5f5f5;
  padding: 0 4px;
  color: #6b6b6b;
  text-decoration: none;
  text-align: center;
  line-height: 28px;
  float: left;
  margin: 0 5px;
  border-radius: 2px;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .pages .active {
  color: #fff;
  background: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .footprint {
  border: 1px solid #dfdfdf;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .footprint h3 {
  padding: 0 10px;
  background-color: #f3f3f3;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  border-bottom: 1px solid #dfdfdf;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .footprint .footlist li {
  width: 289px;
  height: 120px;
  float: left;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .footprint .footlist li .footimg {
  float: left;
  margin-right: 10px;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .footprint .footlist li .footimg img {
  width: 120px;
  height: 120px;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .footprint .footlist li .footbox {
  float: left;
  width: 159px;
  padding: 10px 0;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .footprint .footlist li .footbox h4 {
  color: #f21c1c;
  font-size: 14px;
  height: 21px;
  line-height: 21px;
  margin-top: 15px;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .footprint .footlist li .footbox p {
  font-size: 12px;
  color: #333;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .footprint .footlist li .footbox .buynow {
  width: 70px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  background-color: #f21c1c;
  font-size: 12px;
  line-height: 25px;
  margin-top: 15px;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .footprint .footlist li:hover .footbox p {
  color: #f21c1c;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .footprint .reload {
  width: 250px;
  height: 45px;
  border: 1px solid #ccc;
  margin: auto;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  border-radius: 7px;
  margin: 30px auto;
  cursor: pointer;
  color: #999;
}

#jiuji-list #list-main .content .centerpart .part-right .list-con .footprint .reload:hover {
  color: #f21c1c;
  border-color: #f21c1c;
}
